.DS_Store
.buildpath
.project
.bundle
.yardoc
.bash_history
.bashrc
.irb-history
.mysql_history
.ssh/
.vim/
.viminfo
.vimrc
.idea
.rvmrc

ansible
coverage
spec/reports

log/*
tags
tmp/

config/application.local.yml
config/database.yml

vendor/assets/components/
public/assets/
public/uploads/

db/*.sql
db/*.sqlite3