development:
  adapter: postgresql
  encoding: unicode
  database: okolica_development
  pool: 5

test:
  adapter: postgresql
  encoding: unicode
  database: okolica_test
  pool: 5

production:
  adapter: postgresql
  encoding: unicode
  database: okolica_production
  pool: 5
  username:
  password: